.ContactForm {
  width: 80%;
  margin: auto;
  box-shadow: 0 5px 10px #ccc;
  border: 1px solid #bbb;
  box-sizing: border-box;
  text-align: center;
}

@media (min-width: 500px) {
  .ContactForm {
    width: 450px;
  }
}
