.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  /* animation: pop-up 0.2s ease-out; */
}

@keyframes pop-up {
  0% {
    transform: translateY(100vh) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0vh) scale(1);
    opacity: 1;
  }
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}
